.DS_Store
node_modules
dist/demo.html
dist/idvpn.umd.js
dist/idvpn.umd.js.map
dist/idvpn.umd.min.js
dist/idvpn.umd.min.js.map

/tests/e2e/reports/
selenium-debug.log

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
